html,
#demo,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#demo {
  display: flex;
  flex-direction: column;
}

body.bp5-dark {
  background: #293742;
}

body.bp5-dark {
  background-color: --baseColor1;
}
h1,
h4,
h6 {
  font-weight: 400;
}

.tg-dark-theme-button .bp5-icon {
  color: #ebf1f5 !important;
}

.bp5-dark .tg-dark-theme-button .bp5-icon {
  color: #ffc940 !important;
}

.toggle-button-holder {
  display: flex;
  flex-wrap: row;
}

/* .toggle-button-holder span {
  margin-left: 30px;
} */

.demo-nav-popover {
  padding: 12px;
}

.demo-nav-link {
  padding: 8px;
  text-decoration: none !important;
  color: #666;
  border-left: 2px solid transparent;
}

.demo-nav-link.nested {
  margin: 3px 20px 8px 20px;
  font-size: 12px;
  padding: 4px 10px;
}

.demo-nav-link-active,
.demo-nav-link:hover {
  border-color: #006cab;
  color: #006cab;
}

.demo-header {
  width: 100%;
  text-align: center;
  padding: 12px 0;
  /* background: #ebf1f5; */
}

.demo-header h1 {
  color: #fff;
}

#horizontal-demo-minimap-parent {
  height: 60px;
  position: relative;
}

#horizontal-demo-minimap-viewport {
  overflow: auto;
  max-height: 400px;
}

#vertical-demo-minimap-parent {
  position: relative;
}

#vertical-demo-minimap-viewport {
  overflow: auto;
  max-height: 600px;
  margin-left: 60px;
}

.demo-area-container {
  background: #f6f7f9;
  height: 100%;
  overflow: auto;
}

.bp5-dark .demo-area-container,
.bp5-dark .demo-header {
  background: #2f343c;
}

.demo-nav-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 rgb(17 20 24 / 15%);
  height: 100%;
  overflow-y: auto;
}

.bp5-dark .demo-nav-container {
  background: #383e47;
}

.options-section {
  background: #edeff2;
  padding: 15px 30px 10px 30px;
  margin-bottom: 20px;
  display: table;
  border-radius: 4px;
}

.bp5-dark .options-section {
  background: #383e47;
}

.demo-wrapper {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.bp5-dark .demo-wrapper {
  background: #252a31;
}
