.veLinearView .veRowItemWrapper {
  display: flex;
  justify-content: center;
}
.veLinearView.isLinViewZoomed .veRowItemWrapper {
  overflow: auto;
}

/* .tg-pinch-helper {
  touch-action: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  user-select: none;
} */
