.tg-select {
  width: 100%;
  min-width: 170px;
}
.tg-select.tg-select-as-tag {
  /* background-color: red; */
  border-radius: 4px;
  width: fit-content;
  color: white;
  border: 2px solid white;
}
.tg-select.tg-select-as-tag .bp5-tag.bp5-minimal.bp5-intent-primary {
  color: white !important;
}
.tg-select.do-not-fill-width {
  width: auto;
  min-width: 50px;
}
.tg-select.tg-small .bp5-input {
  min-height: 25px;
  height: 25px;
}
.tg-select.tg-small input {
  line-height: 10.5px;
}
.tg-select.tg-small .bp5-tag-input .bp5-input-ghost {
  line-height: 10.5px;
}
.tg-select.tg-small .bp5-tag-input .bp5-tag-input-values {
  margin-top: 2px;
}
.tg-select input {
  font-size: 14px;
}
.tg-select-option {
  width: fit-content;
  min-width: 100%;
}
/* Fix cutoff placeholder */
.tg-select .bp5-input-ghost[placeholder] {
  width: 80%;
  text-overflow: ellipsis;
}

.tg-single-select input {
  position: absolute;
  top: 5px;
}
.tg-single-select .bp5-tag {
  background-color: initial !important;
  font-size: 14px;
}
.tg-single-select .bp5-popover-open .bp5-tag {
  opacity: 0.6;
}
.bp5-multi-select-popover .bp5-menu,
.bp5-select-popover .bp5-menu {
  max-width: 400px;
  max-height: 300px;
  overflow: auto;
}
