.tg-select {
  width: 100%;
  min-width: 170px;
}
.tg-select input {
  font-size: 14px;
}
.tg-select-option {
  width: fit-content;
  min-width: 100%;
}
/* Fix cutoff placeholder */
.tg-select .bp3-input-ghost[placeholder] {
  width: 80%;
  text-overflow: ellipsis;
}

.tg-single-select input {
  position: absolute;
  top: 5px;
}
.tg-single-select .bp3-tag {
  background-color: initial !important;
  font-size: 14px;
}
.tg-single-select .bp3-popover-open .bp3-tag {
  opacity: 0.6;
}
.bp3-multi-select-popover .bp3-menu,
.bp3-select-popover .bp3-menu {
  max-width: 400px;
  max-height: 300px;
  overflow: auto;
}
