.tg-bp3-dialog-resizable-draggable {
  z-index: 40000; /* necessary for open-vector-editor */
}
.tg-bp3-dialog-resizable-draggable
  .bp3-overlay.bp3-overlay-scroll-container.bp3-overlay-inline {
  position: static;
  height: 100%;
  width: 100%;
}

.tg-bp3-dialog-resizable-draggable .bp3-overlay-inline .bp3-overlay-content,
.tg-bp3-dialog-resizable-draggable
  .bp3-overlay-scroll-container
  .bp3-overlay-content {
  position: static;
  width: 100%;
  height: 100%;
}
.tg-bp3-dialog-resizable-draggable .bp3-dialog-container .bp3-dialog {
  position: absolute;
  top: 0;
  width: 100%;
  /* height: 100%; */
  max-height: 100%;
  /* height: -webkit-fill-available; */
  margin: 0 !important;
}
.tg-bp3-dialog-resizable-draggable .bp3-dialog-header {
  cursor: move;
}
.tg-bp3-dialog-resizable-draggable .bp3-dialog-body {
  height: 100%;
  width: 100%;
  width: stretch;
  overflow: auto;
  margin: 0px;
  padding: 20px;
  padding-bottom: 0px;
}
.tg-bp3-dialog-resizable-draggable .bp3-overlay-backdrop {
  display: none;
}
