name: Publish Packages
on:
  push:
    branches:
      # - master
      - beta

# Required for OIDC Trusted Publishing
permissions:
  contents: write
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22 # Use the current LTS
          registry-url: "https://registry.npmjs.org"

      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Build Packages
        run: yarn nx run-many --target=build-all --all

      - name: Release and Publish
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          # The --yes flag bypasses interactive prompts in CI
          # If on beta branch, it will use the 'beta' tag automatically
          if [[ "${{ github.ref_name }}" == "beta" ]]; then
            yarn nx release publish --yes --preid beta --first-release
          else
            yarn nx release publish --yes --first-release
          fi

          # Push the version changes and tags back to the repository
          git push --follow-tags origin HEAD:${{ github.ref_name }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_ACCESS_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
